{% extends "base.html" %}

{% block content %}

{% if profile %}
<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <h1>{{ profile.user.username|title }}'s Profile</h1>
    </div>
    <div class="col-4">
        <div class="card">
          <h5 class="card-header">Follows</h5>
          <div class="card-body">
            <p class="card-text">
              {% for following in profile.follows.all %}
                <p>
                    <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                </p>
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header">Followed By</h5>
            <div class="card-body">
                <p class="card-text">
                    {% for following in profile.followed_by.all %}
                    <p class="mt-3">
                        <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                    </p>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock content %}
