{% extends "base.html" %}

{% load static %}

{% block content %}

{% if profile %}
<div class="container text-center">
  <div class="row">
    <!-- Meeps -->
    <div class="col-8">
      <h1>{{ profile.user.username|title }}'s Profile</h1>
      {% if meeps %}
      <div class="container text-start my-5">
        {% for meep in meeps %}
        <div class="alert alert-secondary" role="alert">
          <div class="container">
            <div class="row">
              <div class="col-2">
                <img
                {% if profile.profile_image %}
                  src="{{ profile.profile_image.url }}"
                {% else %}
                  src="{% static 'assets/user.png' %}"
                {% endif %}
                  class="img-fluid rounded-circle"
                  style="height: 75px;"
                  alt="{{ profile.user.username }}"
                />
              </div>
              <div class="col-10">
                <p class="lead">{{ meep.body }}</p>
                <small class="text-muted">{{ meep.created_at }} by @{{ meep.user.username|title }} | {{ meep.number_of_likes}} likes | <a href="{% url 'meep_like' meep.id %}">{% if user in meep.likes.all %}<i class="fa-solid fa-heart"  style="color: red;"></i>{% else %}<i class="fa-regular fa-heart" style="color: red;"></i>{% endif %}</a></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Follows & Following -->
    <div class="col-4 mt-5">
      {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" alt="..." class="img-fluid">
      {% endif %}
        <div class="card mt-5">
          <h5 class="card-header">Follows</h5>
          <div class="card-body">
            <p class="card-text">
              {% for following in profile.follows.all %}
                <p>
                    <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                </p>
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header">Followed By</h5>
            <div class="card-body">
                <p class="card-text">
                    {% for following in profile.followed_by.all %}
                    <p class="mt-3">
                        <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                    </p>
                {% endfor %}
                </p>
            </div>
        </div>

        <form action="" method="post" class="my-4">
          {% csrf_token %}
          {% if profile in user.profile.follows.all %}
            <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow @{{ profile.user.username|lower }}</button>
            {% else %}
            <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Follow @{{ profile.user.username|lower }}</button>
          {% endif %}
        </form>
        {% if request.user.id == profile.user.id %}
        <a href="{% url 'update-user' %}" class="btn btn-outline-secondary py-3">Update your Profile</a>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
